.header {
    display: flex;
    gap: 8px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.header img {
    border-radius: 50%;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 10px;
    padding: 8px 16px;
    background-color: #f0f0f0;
}